<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxsoft.business.dao.IInstorageForStoreDao" >
  <resultMap id="BaseResultMap" type="com.wxsoft.business.pojo.Instorage" >
    <result column="barcode" property="barcode" jdbcType="VARCHAR" />
    <result column="drugsname" property="drugsname" jdbcType="VARCHAR" />
    <result column="commonname" property="commonname" jdbcType="VARCHAR" />
    <result column="generatenum" property="generatenum" jdbcType="VARCHAR" />
    <result column="generatedate" property="generatedate" jdbcType="VARCHAR" />
    <result column="validityperiod" property="validityperiod" jdbcType="VARCHAR" />
    <result column="shelflife" property="shelflife" jdbcType="VARCHAR" />
    <result column="inquantity" property="inquantity" jdbcType="VARCHAR" />
    <result column="intype" property="intype" jdbcType="VARCHAR" />
    <result column="inperson" property="inperson" jdbcType="VARCHAR" />
    <result column="indate" property="indate" jdbcType="VARCHAR" />
    <result column="reviewer" property="reviewer" jdbcType="VARCHAR" />
    <result column="reviewdate" property="reviewdate" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />

  </resultMap>
  <sql id="Base_Column_List" >
    id, 
    barcode,
    drugsname,
    commonname,
    generatenum,
    generatedate,
    validityperiod,
    shelflife,
    inquantity,
    intype,
    inperson,
    indate,
    reviewer,
    reviewdate,
    remark

  </sql>
   <select id="getLastId" resultType="java.lang.Integer" >
  select id from sy__drugs order by id desc limit 1
   </select>
  <select id="findCount" resultType="long" >
    select count(*) from sy__instorage
    where 1=1 
    <if test="instorage.id != null and instorage.id != ''">
        and id like concat('%',#{instorage.id},'%')
    </if> 
    <if test="instorage.indate_begin != null and instorage.indate_begin != ''">
        and indate &gt;= str_to_date(#{instorage.indate_begin}, '%Y-%m-%d') 
    </if> 
    <if test="instorage.indate_end != null and instorage.indate_end != ''">
        and indate &lt;= date_add(str_to_date(#{instorage.indate_end}, '%Y-%m-%d'), interval 1 day)
    </if> 
    <if test="instorage.barcode_search != null and instorage.barcode_search != ''">
        and barcode = #{instorage.barcode_search}
    </if> 
  </select>
  <select id="findAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sy__instorage
    where 1=1 
    <if test="instorage.id != null and instorage.id != ''">
        and id like concat('%',#{instorage.id},'%')
    </if> 
    <if test="instorage.indate_begin != null and instorage.indate_begin != ''">
        and indate &gt;= str_to_date(#{instorage.indate_begin}, '%Y-%m-%d') 
    </if> 
    <if test="instorage.indate_end != null and instorage.indate_end != ''">
        and indate &lt;= date_add(str_to_date(#{instorage.indate_end}, '%Y-%m-%d'), interval 1 day)
    </if> 
    <if test="instorage.barcode_search != null and instorage.barcode_search != ''">
        and barcode = #{instorage.barcode_search}
    </if> 
	<if test="page.sort != null and page.sort != ''">
		order by #{page.sort} #{page.order}
	</if>
	<if test="page.page > 0">
		limit #{page.start},#{page.end}
	</if>
  </select>
  
  <insert id="insert" parameterType="com.wxsoft.business.pojo.Instorage">
    insert into sy__instorage(<trim suffixOverrides=",">
     <if test="instorage.id !=null and instorage.id !=''">id,</if>
    	<if test="instorage.barcode !=null and instorage.barcode !=''">barcode,</if>
    	<if test="instorage.drugsname !=null and instorage.drugsname !=''">drugsname,</if>
    	<if test="instorage.commonname !=null and instorage.commonname !=''">commonname,</if>
    	<if test="instorage.generatenum !=null and instorage.generatenum !=''">generatenum,</if>
    	<if test="instorage.generatedate !=null and instorage.generatedate !=''">generatedate,</if>
    	<if test="instorage.validityperiod !=null and instorage.validityperiod !=''">validityperiod,</if>
    	<if test="instorage.shelflife !=null and instorage.shelflife !=''">shelflife,</if>
    	<if test="instorage.inquantity !=null and instorage.inquantity !=''">inquantity,</if>
    	<if test="instorage.intype !=null and instorage.intype !=''">intype,</if>
    	<if test="instorage.inperson !=null and instorage.inperson !=''">inperson,</if>
    	<if test="instorage.indate !=null and instorage.indate !=''">indate,</if>
    	<if test="instorage.reviewer !=null and instorage.reviewer !=''">reviewer,</if>
    	<if test="instorage.reviewdate !=null and instorage.reviewdate !=''">reviewdate,</if>
    	<if test="instorage.remark !=null and instorage.remark !=''">remark</if>

    </trim>)values(<trim suffixOverrides=",">
    <if test="instorage.id !=null and instorage.id !=''">#{instorage.id},</if>
    	<if test="instorage.barcode !=null and instorage.barcode !=''">#{instorage.barcode},</if>
    	<if test="instorage.drugsname !=null and instorage.drugsname !=''">#{instorage.drugsname},</if>
    	<if test="instorage.commonname !=null and instorage.commonname !=''">#{instorage.commonname},</if>
    	<if test="instorage.generatenum !=null and instorage.generatenum !=''">#{instorage.generatenum},</if>
    	<if test="instorage.generatedate !=null and instorage.generatedate !=''">#{instorage.generatedate},</if>
    	<if test="instorage.validityperiod !=null and instorage.validityperiod !=''">#{instorage.validityperiod},</if>
    	<if test="instorage.shelflife !=null and instorage.shelflife !=''">#{instorage.shelflife},</if>
    	<if test="instorage.inquantity !=null and instorage.inquantity !=''">#{instorage.inquantity},</if>
    	<if test="instorage.intype !=null and instorage.intype !=''">#{instorage.intype},</if>
    	<if test="instorage.inperson !=null and instorage.inperson !=''">#{instorage.inperson},</if>
    	<if test="instorage.indate !=null and instorage.indate !=''">#{instorage.indate},</if>
    	<if test="instorage.reviewer !=null and instorage.reviewer !=''">#{instorage.reviewer},</if>
    	<if test="instorage.reviewdate !=null and instorage.reviewdate !=''">#{instorage.reviewdate},</if>
    	<if test="instorage.remark !=null and instorage.remark !=''">#{instorage.remark}</if>

  	</trim>)
  </insert>
  
  <update id="modify">
  	update sy__instorage
  	<set>
    	<if test="instorage.barcode !=null and instorage.barcode !=''">barcode=#{instorage.barcode},</if>
    	<if test="instorage.drugsname !=null and instorage.drugsname !=''">drugsname=#{instorage.drugsname},</if>
    	<if test="instorage.commonname !=null and instorage.commonname !=''">commonname=#{instorage.commonname},</if>
    	<if test="instorage.generatenum !=null and instorage.generatenum !=''">generatenum=#{instorage.generatenum},</if>
    	<if test="instorage.generatedate !=null and instorage.generatedate !=''">generatedate=#{instorage.generatedate},</if>
    	<if test="instorage.validityperiod !=null and instorage.validityperiod !=''">validityperiod=#{instorage.validityperiod},</if>
    	<if test="instorage.shelflife !=null and instorage.shelflife !=''">shelflife=#{instorage.shelflife},</if>
    	<if test="instorage.inquantity !=null and instorage.inquantity !=''">inquantity=#{instorage.inquantity},</if>
    	<if test="instorage.intype !=null and instorage.intype !=''">intype=#{instorage.intype},</if>
    	<if test="instorage.inperson !=null and instorage.inperson !=''">inperson=#{instorage.inperson},</if>
    	<if test="instorage.indate !=null and instorage.indate !=''">indate=#{instorage.indate},</if>
    	<if test="instorage.reviewer !=null and instorage.reviewer !=''">reviewer=#{instorage.reviewer},</if>
    	<if test="instorage.reviewdate !=null and instorage.reviewdate !=''">reviewdate=#{instorage.reviewdate},</if>
    	<if test="instorage.remark !=null and instorage.remark !=''">remark=#{instorage.remark}</if>

  	</set>
  	where id = #{instorage.id}
  </update>
    
  <delete id="delete" parameterType="int">
	delete from sy__instorage where id=#{instorage.id}
  </delete>
</mapper>
