<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
        <property name="dialect" value="mysql" />
    </properties>
    <settings>
        <setting name="logImpl" value="LOG4J" />
    </settings>
    <plugins>
        <plugin interceptor="com.wxsoft.mybatisplugins.PrepareInterceptor">
            <property name="dialect" value="mysql" />
        </plugin>
        <!--<plugin interceptor="com.wxsoft.mybatisplugins.SQLStatsInterceptor">-->
            <!--<property name="dialect" value="mysql" />-->
        <!--</plugin>-->

    </plugins>

</configuration>